/* tooltips */

.tooltip {
  background: url(../images/munge_overlay.png);
  background-color: rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  border-image: linear-gradient(#dcd7b6, #6b613b) 4;
  border-style: solid;
  border-width: 4px;
  color: #c5c29e;
  font-family: "univers67";
  line-height: 1.5;
  padding: 10px;
  text-shadow: 2px 2px 3px black;
  width: 350px;
}

.tooltip h1,
.tooltip h3 {
  text-align: center;
}

.tooltip-item-set {
  align-content: center;
  text-align: center;
}
.tooltip-item-set-type {
  float: left;
}
.tooltip-item-set-location {
  float: right;
}

.tooltip-item {
  align-content: center;
  text-align: center;
  text-shadow: none;
}
.tooltip-item hr {
  margin: 0px
}
.tooltip-item h3 {
  margin-bottom: 4px
}

.tooltip-item-type {
  float: left;
  font-family: "univers57";
  position: absolute;
  text-align: left;
}
.tooltip-item-level {
  display: flex;
  margin-bottom: 10px;
}
.tooltip-item-level div {
  text-align: center;
  width: 33%;
}
.tooltip-item-level span {
  align-content: center;
  color: white;
  font-size: 22px;
}

.tooltip-item-set-bonus-disabled {
  color: #454545 !important;
}
.tooltip-item-set-bonus-disabled .set-bonus {
  color: #454545;
}
.tooltip-item-set-bonus-disabled .health {
  color: #730000;
}
.tooltip-item-set-bonus-disabled .stamina {
  color: #004018;
}
.tooltip-item-set-bonus-disabled .magicka {
  color: #202c5c;
}
.tooltip-item-set-bonus-disabled .buff {
  color: #764500;
}
.tooltip-item-set-bonus-disabled .disease-damage {
  color: #007500;
}
.tooltip-item-set-bonus-disabled .poison-damage {
  color: #002e00;
}
