@font-face {
  font-family: "univers67";
  src: url(./fonts/univers67.otf) format("opentype");
}
@font-face {
  font-family: "univers57";
  src: url(./fonts/univers57.otf) format("opentype");
}

.App ::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(images/slider_marker_down.png);
}
.App ::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(images/slider_marker_up.png);
  padding: 2px;
}
.App ::-webkit-scrollbar-thumb {
  background-image: url(images/scrollbox_elevator.png);
  height: 32px;
}
.App ::-webkit-scrollbar-track {
  color: black;
}
.App ::-webkit-scrollbar {
  width: 14px;
}

h1 {
  color: white;
  font-size: 24px;
  margin: 0px;
  text-align: left;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
  margin: 0px;
  text-transform: uppercase;
}
h3 {
  color: white;
  font-size: 16px;
  margin: 0px;
  text-transform: uppercase;
}

hr {
  background-image: url(images/horizontaldivider.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0px;
  display: block;
  height: 5px;
  margin: 5px 0px;
}

.btn-check {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

/* any window section should use this class */
.window {
  background-image: url(images/window_bg.png);
  background-repeat: no-repeat;
  margin: 10px;
  padding: 30px 40px;
}

/* table section */
.row-table-header {
  color: #c5c29e;
  text-transform: uppercase;
}

/* item rarity */
.item-normal {
  color: white;
}
.item-fine {
  color: #2dc50e;
}
.item-superior {
  color: #3a92ff;
}
.item-epic {
  color: #a02ef7;
}
.item-legendary {
  color: #eeca2a;
}

/* item set description highlights */
.health {
  color: #c33331;
}
.stamina {
  color: #0d9068;
}
.magicka {
  color: #0d5c9c;
}
.buff {
  color: #c69510;
}

.App {
  color: white;
  font-family: "univers67";
  text-shadow: 2px 2px 3px black;
}
