@font-face {
  font-family: "univers67";
  src: url(./fonts/univers67.otf) format("opentype");
}

h1 {
  text-align: left;
  font-size: 24px;
  margin: 0px;
}

hr {
  background-image: url(images/horizontaldivider.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0px;
  display: block;
  height: 5px;
  margin: 5px 0px;
}

.window {
  background-image: url(images/window_bg.png);
  background-repeat: no-repeat;
  margin: 10px;
  padding: 30px 40px;
}

.App {
  color: white;
  font-family: "univers67";
  text-shadow: 2px 2px 3px black;
}

.EquipmentGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 120px; */
}

.Stats {
  color: #c5c29e;
}