.Inventory {
  background-size: 468px 910px, cover;
}

.Inventory hr {
  background-size: 400px 4px;
}

.inventory-container table {
  width: 400px;
}
.inventory-container thead {
  color: #c5c29e;
}
.inventory-container tbody {
  display: block;
  height: 730px;
  overflow-y: auto;
}
.inventory-container tr {
  display: table;
}
.inventory-container td:first-child,
.inventory-container th:first-child {
  width: 32px;
}

.inventory-container td img {
  vertical-align: middle;
  margin-right: 5px;
}