.Inventory {
  background-size: 468px 850px, cover;
}

.Inventory hr {
  background-size: 400px 4px;
}

.inventory-container table {
  border-collapse: collapse;
  width: 400px;
}
.inventory-container thead {
  color: #c5c29e;
}
.inventory-container tbody {
  display: block;
  height: 630px;
  overflow-y: auto;
  width: 100%;
}
.inventory-container thead tr {
  display: table;
}
.inventory-container td:first-child,
.inventory-container th:first-child {
  width: 32px;
}
.inventory-container th:nth-child(2) {
  width: 90%;
}

.inventory-container td img {
  vertical-align: middle;
  margin-right: 5px;
}

.inventory-item-cell:hover {
  background-color: rgba(31, 72, 72, 0.8);
}
.inventory-item {
  padding-left: 25px;
}

.inventory-filter-button-toolbar button {
  background-color: transparent;
  background-position: center;
  background-size: contain;
  border: none;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.inventory-filter-button-toolbar button:hover {
  transition: all 1s;
  background-size: 125%;
}

.inventory-filter-button-all {
  background-image: url(../images/inventory_tabicon_all_up.png);
}
.inventory-filter-button-all:hover {
  background-image: 
    url(../images/inventory_tabicon_all_up.png),
    url(../images/inventory_tabicon_all_over.png);
}
.inventory-filter-button-all.selected {
  background-image: url(../images/inventory_tabicon_all_down.png);
}

.inventory-filter-button-weapons {
  background-image: url(../images/inventory_tabicon_weapons_up.png);
}
.inventory-filter-button-weapons:hover {
  background-image:
    url(../images/inventory_tabicon_weapons_up.png),
    url(../images/inventory_tabicon_weapons_over.png);
}
.inventory-filter-button-weapons.selected {
  background-image: url(../images/inventory_tabicon_weapons_down.png);
}

.inventory-filter-button-armor {
  background-image: url(../images/inventory_tabicon_armor_up.png);
}
.inventory-filter-button-armor:hover {
  background-image:
    url(../images/inventory_tabicon_armor_up.png),
    url(../images/inventory_tabicon_armor_over.png);
}
.inventory-filter-button-armor.selected {
  background-image: url(../images/inventory_tabicon_armor_down.png);
}

.inventory-filter-button-jewelry {
  background-image: url(../images/jewelry_tabicon_icon_up.png);
}
.inventory-filter-button-jewelry:hover {
  background-image:
    url(../images/jewelry_tabicon_icon_up.png),
    url(../images/jewelry_tabicon_icon_over.png);
}
.inventory-filter-button-jewelry.selected {
  background-image: url(../images/jewelry_tabicon_icon_down.png);
}
