.Summary a,
.Summary a:visited {
  color: #fff;
  text-decoration: none;
}

.Summary h2 {
  margin-bottom: 15px;
  margin-left: 15px;
}

.summary-share-cell {
  height: 28px;
  vertical-align: middle;
}
.summary-share-cell div {
  float: left;
}
.summary-share-cell button {
  background-color: transparent;
  background-image: url(../images/copy-link-white-32.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.summary-share-cell button:hover {
  transition: all .1s;
  height: 22px;
  width: 22px;
}
.summary-share-cell button:active {
  transform: translate(-1px, 1px);
}

.GearSummary,
.SetSummary {
  color: #c5c29e;
  font-family: "univers57";
}

.summary-table-header-row {
  font-family: "univers67";
  margin-bottom: 5px;
}

.summary-table-row {
  border-top: solid 1px #444;
}
.summary-table-row.cozy{
  min-height: 64px;
}
.summary-table-row.compact{
  min-height: 24px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.summary-table-row.row img {
  vertical-align: middle;
}

.summary-table-row .col {
  vertical-align: middle;
  align-items: center;
}

.set-summary-bonus-count {
  float: right;
}
