.CreateBuildLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 120px; */
}

.CreateBuildLayout .Summary {
  background-size: 368px 800px, cover;
  width: 288px;
}



.ViewBuildLayout {
  max-width: 860px;
}

.ViewBuildLayout .Summary {
  background-size: 840px 800px, cover;
}

.ViewBuildLayout .Summary hr {
  background-size: 800px 4px;
}