.CreateBuildLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 120px; */
}

@media (min-width: 990px) {
  .CreateBuildLayout .Equipment.window {
    margin-left: auto;
  }
  .CreateBuildLayout .Inventory.window {
    margin-right: auto;
  }
}
@media (max-width: 990px) {
  .CreateBuildLayout .Inventory.window,
  .CreateBuildLayout .Equipment.window {
    margin-left: auto;
    margin-right: auto;
  }
}

.CreateBuildLayout .Summary {
  background-size: 1100px 800px, cover;
}
.CreateBuildLayout .Summary.window {
  margin-left: auto;
  margin-right: auto;
}

.CreateBuildLayout .Summary hr {
  background-size: 1000px 4px;
}


.ViewBuildLayout.container{
  max-width: 860px !important;
}

.ViewBuildLayout .Summary {
  background-size: 840px 1100px, cover;
}

.ViewBuildLayout .Summary hr {
  background-size: 800px 4px;
}